body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

.header {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.header-center {
  text-align: center;
}

.header img {
  display: block;
  margin: 20px auto;
}

.header a:hover {
  color: white;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 20px;
  border-style: dashed
}

.header h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.smaller-pictures {
  width: 300px;
  height: 300px;
}

.picture-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px;

}


.about {
  background-color: lightpink;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about h1 {
  font-size: 36px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.about .middle {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .middle img {
  width: 30%;
  margin-right: 20px;
}

.about p {
  width: 60%;
  text-align: justify;
}

.hobbies {
  background-color: lightgreen;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hobbies h1 {
  font-size: 36px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.hobbies h2 {
  font-size: 24px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.hobbies .section {
  width: 33.33%;
  text-align: center;
  margin-bottom: 20px;
}

.hobbies img {
  width: 80%;
  margin: 0 auto;
}

.footer {
  background-color: lightblue;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.footer a:hover {
  color: white;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.right-side a {
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.right-side a:hover {
  color: white;
}

.top-section {
  text-align: center;
}

.hobby-img {
  max-width: 30%;
}

.hobby {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

div {
  text-align: center;
}
